<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .card {background-color: powderblue;}
        .top-text   {color: rgb(29, 29, 31);
              text-align: center;
              text-shadow: 2px 2px #b49292;
            }
        .label-text{
            color: #423a3a;
        }
    
        </style>
    <div class="card mt-4">
    <div class="card-body">
        <div class="mb-3">
            <h1 class="top-text">CHITOS TRANSLATOR V 1 <h1>
            <label class="form-label m-2 label-text">Enter text to be translated</label>
            <input type="textarea" class="form-control m-2" id="textToTranslate">
        </div>
    
        <div style="padding: 25px 25px 25px 25px;">
            <button onclick="translateToFrench()" class="btn btn-success ml-3">Translate to French</button>        
            <button onclick="translateToEnglish()" class="btn btn-success ml-4">Translate to English</button>        
        </div>
    
        <div id="translated_text" style="padding: 25px 25px 25px 25px;"></div>
        </div>
  </div>
</html>